.card {
  box-shadow: light-dark(
    0 0 20px rgba(134, 133, 133, 0.1),
    0 0 20px rgba(164, 161, 161, 0.1)
  );

  &:hover {
    border: 1px solid light-dark(rgb(226, 114, 54), rgb(88 199 250 / 100%));
    -webkit-transition: border 1s;
    transition: border 1s;
  }
}
