.header {
  overflow: hidden;
  padding: 0 20px;
  /* background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1.85px,
    light-dark(var(--mantine-color-white), var(--mantine-color-dark-9)) 1px
  ); */
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(25px);
  background-color:
    rgba(248, 249, 250, 0.82);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-backdrop-filter: brightness(100%) blur(3px); /* For Safari */
  border-bottom: rem(1px) solid light-dark(rgb(222, 226, 230), rgb(55, 58, 64));
  /* border-top: rem(3px) solid var(--mantine-color-gray-7); */
  box-shadow: light-dark(
    0 0 20px rgba(134, 133, 133, 0.1),
    0 0 20px rgba(164, 161, 161, 0.1)
  );
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 900;
  letter-spacing: -0.05em;
  border: rem(1.75px) solid var(--mantine-color-gray-5);
  box-shadow: light-dark(
    0 0 20px rgba(134, 133, 133, 0.1),
    0 0 20px rgba(164, 161, 161, 0.1)
  );

  @media (max-width: $mantine-breakpoint-xs) {
    width: 90%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    border-radius: 12;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.75rem;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-dark-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-0));
    box-shadow: var(--mantine-shadow-lg);
    cursor: pointer;
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-yellow-8);
    color: var(--mantine-color-white);
  }
}

.textHeader {
  background: radial-gradient(
    at right bottom,
    rgba(0, 0, 0),
    rgba(160, 159, 160, 0.8),
    rgb(71, 85, 105)
  );
  letter-spacing: '-0.05';
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 10px #959292,
      0 0 20px #0000,
      0 0 30px #0000,
      0 0 40px #0000,
      0 0 50px #0000,
      0 0 30px #959292,
      0 0 70px #0000;
  }
  to {
    text-shadow:
      0 0 20px #0000,
      0 0 30px #ffff,
      0 0 40px #0000,
      0 0 50px #ffff 0 0 30px #0000,
      0 0 70px #0000,
      0 0 55 #0000;
  }
}
